
<div class="containor">
  <header>
    <h1>〜Tamagoziten〜</h1>
      <%= search_form_for @search, url: users_recipes_path do |f| %>
        <%= f.label :name, "レシピ検索" %>
        <%= f.search_field :name_or_description_cont %>
        <%= f.submit "検索" %>
      <% end %>
    <nav class="area1">
      <ul>
        <li><%= link_to "マイページ", users_user_path(current_user.id), class: "header-link" %></li>
        <li><%= link_to "レシピ", users_recipes_path, class: "header-link"  %></li>
        <li><%= link_to "レシピ投稿", new_users_recipe_path , class: "header-link"  %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, data: {confirm: "ログアウトしますか？"}, class: "header-link"  %></>
      </ul>
    </nav>
    <nav class="area2">
    </nav>
  </header>
</div>