<%= render partial: 'layouts/header', locals: { search: @search } %>

<body class="categories_show">
  <div class="recipe-list">
    <h1 class="recipe-index">
      〜<%= @category.name %> Recipes〜
    </h1>
  <% if @category.recipes.count == 0 %>
    <div class="no_recipe_view">
      <p class="recipe-count">
        全<span><%= @category.recipes.count %></span>
        件
      </p>
      <p class="no_recipe_count">
        <%= image_tag 'recipes/pl-999184207763.png', class:"no_recipe_img" %><br>
        <span><%= @category.name %></span>カテゴリー　にはまだレシピが投稿されていません（；＿；)<br>
        このカテゴリーの投稿者の第１号になりませんか？<br>
        <%= link_to "レシピを投稿する", new_users_recipe_path, class: "btn btn-warning no_recipe_category_btn" %>
        </カテゴリー>
      </p>
    </div>
  <% else %>
    <p class="recipe-count">
      全<span><%= @category.recipes.count %></span>
      件のレシピがあります(^○^)
    </p>
  <% end %>
    <ul class="recipe-index-ul">
      <% @recipes.order('id DESC').each do |recipe| %>
        <li class="r_index_items index">
          <%= link_to users_recipe_path(recipe.id), class: "link-recipes" do %>
          <%= attachment_image_tag recipe, :recipe_image, :fill, 230, 130, class: "reshipe-image", fallback: "no_image/no_image.jpg", size: "230x130", alt: "料理画像" %>
          <div class="detail">
            <p class="recipe_icon">
              <i class="glyphicon glyphicon-time"></i>
              <%= recipe.cooking_time %><span>分</span>
            </p>
            <p class="recipe_icon">
              <%= fa_icon("comment") %>
              <%= recipe.recipe_reviews.count %>
            </p>
          </div>
          <h3 class="recipe_title"><%= recipe.name %></h3>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <p><%= paginate @recipes %></p>
</body>
<%= render 'layouts/footer' %>