<%= render partial: 'users/partials/header', locals: { search: @search } %>
<div class="container">
  <main class="recipi-page">
    <div class="col-xs-offset-2">
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
        <li class="error">
          <i class="glyphicon glyphicon-star" aria-hidden="true"></i>
          <%= message %>
        </li>
        <% end %>
      </ul>
      <h1 class="page_title">〜NEW MENU〜</h1>
      <%= form_for @recipe, url: users_recipes_path do |f| %>
      <div class="row ">
        <div class="col-xs-4 recipe-newform">
          <%= attachment_image_tag @user, :recipe_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb" %>
          <%= f.attachment_field :recipe_image, type: "file", placeholder: "レシピ画像", class: "recipe-edit-form", id: "recipefile" %>
          <img id="img1" style="width:280px;height:200px;">
        </div>
        <div class="col-xs-6 recipe_newlist">
          <table>
            <tbody>
              <tr>
                <th colspan="2"><span>レシピ名</span></th>
              <tr>
                <td colspan="2"><%= f.text_field :name , class: "form-control input-sm", id: "placeholder"%></td>
              </tr>
              <tr>
                <th colspan="2"><span>説明</span></th>
              </tr>
              <tr>
                <td colspan="2">
                  <%= f.text_field :description, class: "form-control input-sm", placeholder: "説明、コツ、感想などをどうぞ(^○^)♪" %>
                </td>
              </tr>
              <tr>
                <td><%= f.number_field :serving, class: "form-control form-rows", min: 1, placeholder: "※選択してください" %>人分
                </td>
                <td>
                  <%= f.number_field :cooking_time, class: "form-control form-rows", min: 1, placeholder: "選択してください"%>分
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th><span>材料</span></th>
                <th><span>分量</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>卵</td>
                <td><%= f.text_field :egg_quantity, class: "form-control form-rows" ,placeholder: "例：中2個" %></td>
              </tr>
              <%= f.fields_for :cooking_materials do |m| %>
              <tr>
                <%=  render partial: "users/recipes/cooking_materials_fields", locals: { f: m } %>
              </tr>
            </tbody>
          </table>
          <% end %>
          <div class="links">
            <%= link_to_add_association "追加", f, :cooking_materials , partial: "users/recipes/cooking_materials_fields" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="procedure-title">
          <h3><span>調理手順</span></h3>
          <div class="col-xs-12">
            <%= f.fields_for :cooking_procedures do |p| %>
            <table>
              <tbody>
                <%=  render partial: "users/recipes/cooking_procedures_fields", locals: { f: p } %></th>
              </tbody>
            </table>
            <% end %>
            <div class="links">
              <tr>
                <%= link_to_add_association "追加", f, :cooking_procedures , partial: "users/recipes/cooking_procedures_fields" %>
              </tr>
            </div>
          </div>
        </div>
      </div>
      <%= f.submit "レシピ投稿", class: "submit btn btn-warning  col-xs-offset-4", style: "margin-bottom: 30px;" %>
      <% end %>
  </main>
</div>
<%= render 'users/partials/footer' %>