<div class="container">
<h1>NEW MENU</h1>
<%= form_for @recipe, url: users_recipes_path do |f| %>
  <div class="row">
     <div class="col-xs-4">
              #javascriptで写真レビューを作る
             <%= attachment_image_tag @user, :recipe_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb"%>
             <%= f.attachment_field :recipe_image, placeholder: "プロフィール画像", class: "recipe-edit-form" %> 
    </div>
    <div class="col-xs-6">
    　　 <table>
          <tbody>
             <tr>
               <th colspan="2">レシピ名</th>
		     </tr>
             <tr>
               <td colspan="2"><%= f.text_field :name , class: "form-control input-sm"%></td>
             </tr>
             <tr>
               <th colspan="2">説明</th>
             </tr>
             <tr>
               <td colspan="2"><%= f.text_field :description %></td>
            </tr>
            <tr>
              <td><%= f.text_field :serving %>人分</td>
              <td><%= f.text_field :cooking_time %>分</td>
            </tr>
          </tbody>
       </table>
<div class="row">
       <%= f.fields_for :cooking_materials do |m| %>

 　　　   <div class="material-title">
            <ul>
              <li>材料</li>
              <li>分量</li>
            </ul>
            <div><br>
          <div class="material">
          　　 <li><%= m.label "卵" %></li>
              <li><%= f.text_field :egg_quantity %></li>
          </div>
         s
     <%= f.submit "投稿する" %> 
       </div>
     <% end %>   
 


<% end %>  

</div>
</div>
