

<div class="container">
   <div class="row">
     <div class="col-xs-7">
     <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}", title: 'たまご辞典レシピ', target: '_blank' %>
     <%= link_to 'Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=タイトル", title: 'Facebook', target: '_blank' %>
     <%= link_to 'LINE', "http://line.me/R/msg/text/?#{request.url}&text=タイトル", title: 'LINE', target: '_blank' %>
      <h1><%= @recipe.name %></h1>
      </div>
      <div class="col-xs-5">
      <p><%= link_to @recipe.user.name, users_user_path(@recipe.user.id) %></p>
      <% if @recipe.favorited_by?(current_user) %>
       <li>
    <%= link_to users_recipe_favorite_path(@recipe), method: :delete do %>
      <i class="glyphicon glyphicon-star" aria-hidden="true"></i>
      ぶっくまーく済
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to users_recipe_favorite_path(@recipe), method: :post do %>
      <i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>
      ぶっくまーく
    <% end %>
  </li>
<% end %>
<li>
    </div>
    <div class="row">
       <div class="col-xs-7 ">
          <div class="recipe-image">
            <%= attachment_image_tag @recipe, :recipe_image, :fill, 600, 600, class: " pull-left profile-thumb" %>
          </div>
       </div>
      <div class="col-xs-5">
    　　  <div class="lavel">
             <lavel>調理時間</labvel>
             <%= @recipe.cooking_time %>分
           </div>
           <div class="lavel">
             <lavel>レビュー数</labvel>
           </div>
             <%= @recipe.description %>

    </div>
    </div>
    <div class="row">
    <div class="col-xs-5">
       <div class="item-recipe">
           <h3 class="item-title">
               <span>材料（</span><%= @recipe.serving %> <span>人分）</span>
           </h3>
        </div>
            <table>
            <tr>
            <th>
                卵
            </th>
            <th>
            　　 <%= @recipe.egg_quantity %>
        　　</th>
          </tr>
            <% @materials.each do |material| %>
              <tr>
                <th>
                    <%= material.material_name %>
                </th>
                <th>
                　　<%= material.material_quantity %>
            　　</th>
              </tr>
　　　　　　　   <% end %>
            </table>
        </div>
        <div class="col-xs-7">
        <h3 class="cooking_step">
            作り方
        </h3>
        <% @procedures.each.with_index(1) do |procedure, idx| %>
           <h3><%= idx %></h3>
           <p><%= procedure.procedure_description %></p>
        <% end %>
      </div>
      <% @recipe.recipe_reviews.each do |review| %>
        <%= attachment_image_tag review, :cooking_image, :fill, 200, 150, class: " pull-left profile-thumb" %>
        <%= review.user.name %>
        <%= review.impression %>
      <% end %>
    <%= link_to "レシピ編集", edit_users_recipe_path(@recipe.id) %>
    <%= form_for [@recipe, @review], url: users_recipe_review_path(@recipe.id) do |f| %>
      <div class="row">
          <div class="col-sm-12">
              <%= f.attachment_field :cooking_image, placeholder: "プロフィール画像", class: "review-image-form" %>
              <%= f.text_area :impression, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
          </div>
      </div>
      <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
  <% end %>
    </div>
</div>
 