<!DOCTYPE html>
<html>

<head>
  <title>たまご辞典【たまご料理専門レシピサイト】</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'layouts/header' %>
  <%= stylesheet_link_tag    'layouts/footer' %>
  <%= stylesheet_link_tag    'homes/top' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag('tamagoziten.ico') %>
</head>

<body>
  <%= yield %>

</body>

</html>