<!DOCTYPE html>
<html>
  <head>
    <title>たまご辞典【たまご料理専門レシピサイト】</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag('Tamagoziten.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>

   </body>
</html>
